body {
    min-width: 400px;
}


.container {
    width: 450px;
}

.buttons {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


button,
input,
select {
    margin: 5px;
    padding: 6px 10px;
}



#past {
    background: #ebd4d4;
    color: black;
}

#upcoming {
    background: #cfa681;
    color: black;
}

#success {
    background: #8ad7a1;
    color: black;
}

#failure {
    background: #c76161;
    color: black;
}




#searchBtn {
    background: #27ae60;
    color: white
}

button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input {
    border: 1px solid #2f80ed;
    border-radius: 4px;
    padding: 6px;
}


table {
    min-width: 100%;
    border-collapse: collapse;
    margin-top: 10px
}


th {
    background-color: rgb(11, 113, 113);
    color: white;
}


th,
td {
    border: 1px solid #444;
    padding: 8px;
    text-align: left
}



.success {
    border-left: 5px solid green;
    background-color: #e8f4ed;

}

.failure {
    border-left: 5px solid red;
    background-color: rgb(243, 233, 233);
}

.upcoming {
    border-left: 5px solid orange;
    background-color: rgb(251, 247, 242);
}